#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.ant-select-selector {
  @apply bg-[#F3F6FD] dark:bg-dark dark:text-white text-black !important;
}

.languageSelect .ant-select-selector {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.sidebar .sidebar2 .ant-collapse-content-box {
  @apply dark:bg-dark bg-white dark:text-white text-black !important;
}

.ant-select-arrow {
  display: none !important;
}

/* ant design custom collapse */
.sidebar .ant-collapse {
  border: none !important;
}

.sidebar .ant-collapse .ant-collapse-content {
  border-top: none !important;
}

.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 6px 16px !important;
}

/* .sidebar .ant-collapse-header {
  background-color: #fff !important;
} */

.sidebar .sidebar2 .ant-collapse-header {

  @apply dark:bg-dark bg-[#687EFF] !important;
  border-radius: 8px !important;
  color: #fff !important;
}


.ant-collapse-header-text,
.ant-drawer-content-wrapper {
  @apply dark:text-white text-black !important;
}

.ant-drawer-content-wrapper .ant-drawer-content {
  @apply dark:bg-dark bg-white !important;
}


/* styles.css */

/* Table background */
.ant-table {
  @apply dark:bg-dark bg-[#FAFAFA] dark:text-white text-black !important;
}

/* Table header */
.ant-table-thead>tr>th {
  @apply dark:bg-[#444] bg-[#FAFAFA] dark:text-white text-black !important;

}

/* Table body */
.ant-table-tbody>tr>td {
  @apply dark:bg-[#444] bg-white dark:text-white text-black !important;
}

/* Table row hover */
.ant-table-tbody>tr:hover>td {
  @apply dark:bg-[#444] bg-white dark:text-white text-black !important;
}

.ant-card {
  @apply dark:bg-dark bg-white dark:text-white text-black !important;
}

.ant-picker {
  @apply dark:bg-dark bg-white dark:text-white text-black !important;
}

.ant-card-head, .ant-row, .ant-col>label{
  @apply dark:text-white text-black !important;
}